<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Hong Kong Horse Racing Database</h1>
  
  <form method="POST" action="/run_query">
    <p>Enter a Query: <input type="text" name="query"> <input type="submit" value="Run Query"></p>
  </form>

  <form method="POST" action="/run_default_query">
    <p><input type="submit" name="q1" value="Query 1"> <input type="submit" name="q2" value="Query 2"> <input type="submit" name="q3" value="Query 3"></p>
  </form>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

</body>

</html>
