<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Hong Kong Horse Racing Database</h1>

  <h2>Run a query using the following options:</h2>
  <form method="POST" action="/run_default_query">
    <p>
      Select the
      <select name="rate_type" method="GET">
        {% for rt in rate_types %}
        <option value="{{rt}}">{{rt}}</option>
        {% endfor %}
      </select>
      of
      <select name="entity_type" method="GET">
        {% for e in entities %}
        <option value="{{e}}">{{e}}</option>
        {% endfor %}
      </select>
      within the previous: <input type="text" name="n_entries">
      <select name="time_frame" method="GET">
        {% for t in time_frames %}
        <option value="{{t}}">{{t}}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      <input type="submit" value="Submit Query">
    </p>
      
      {% if default_error != False %}
        {{default_error}}
      {% endif %}
  </form>

  <h2>Run a custom query</h2>
  <form method="POST" action="/run_query">
    <p>
      Enter a Query: <input type="text" name="query"> <br>
    </p>
    <p>
      <input type="submit" value="Run Query">
    </p>
      
    {% if custom_error != False %}
      {{custom_error}}
    {% endif %}
  </form>

  <h2>Query Results</h2>
  <table>
    {% for row in query_data %}
    <tr>
      {% for col in row %}
      <td>{{col}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

</body>


</html>
